*.pc
*.py[cod]
__pycache__
*.DS_Store
*.pyc
*.code-workspace
.vscode
.idea/*
cms/db.sqlite3
cms/media/*
fqm/*
venv/
fqm-rashmita/
env
ENV_DIR
venv/*
env/*
get-pip.py
/*/*/__pycache__/*
.env
pip
pip3
fqm_priyanka/*
pgadmin4/*
cms/.coverage